[submodule "files/vim/.vim/bundle/nerdtree"]
	path = files/vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "files/vim/.vim/bundle/vim-surround"]
	path = files/vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "files/vim/.vim/bundle/syntastic"]
	path = files/vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "files/vim/.vim/bundle/ctrlp.vim"]
	path = files/vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "files/vim/.vim/bundle/vim-airline"]
	path = files/vim/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "files/vim/.vim/bundle/molokai"]
	path = files/vim/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
